.main--component {
  width: 100%;
}

/* All Sections static style */
.home--section,
.about--section,
.price--section,
.tutors--section,
.depoiments--section,
.contact--section {
  height: 100vh;
  width: 100%;
  background-color: whitesmoke;
}

/* Home Section */
.welcome--itens {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  position: relative;
  top: 120px;
}
.image--home {
  width: 600px;
}

.ML h1 {
  font-size: 6rem;
  color: var(---text-color);
}

.ML h3 {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(---text-color);
}

.content--section {
  display: grid;
  grid-template-columns: repeat(6, 150px);
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 80px;
  position: relative;
  top: 285px;
}

.styled--item {
  background-color: var(---text-color);
  width: 200px;
  height: 80px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom: 10px solid #1b2387;
}

.styled--item:hover {
  cursor: pointer;
  opacity: 0.9;
}

.styled--item h4 {
  text-align: center;
  position: relative;
  top: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.5rem;
}

/* About us section */
.about--section {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.about-img {
  width: 650px;
}
.about--section h1 {
  text-transform: uppercase;
  font-size: 3rem;
  color: var(---text-color);
}
.about--section h4 {
  font-weight: 300;
  position: relative;
  top: 30px;
}

/* Price section */
.prices--infos {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  position: relative;
  top: 150px;
}

.prices--infos h1 {
  text-transform: uppercase;
  font-size: 3rem;
  color: var(---text-color);
}

.prices--infos .prices-h4 {
  font-weight: 300;
  font-size: 1.3rem;
}

.prices {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  top: 100px;
  gap: 80px;
}

.price {
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid var(---text-color);
  height: 530px;
}

.price .bi-diamond,
.price .bi-diamond-half,
.price .bi-diamond-fill {
  color: var(---text-color);
  font-size: 3rem;
}

.price h2,
.price h3 {
  text-transform: uppercase;
  color: var(---text-color);
}

.infos {
  font-weight: 300;
  margin-top: 30px;
}

.offer-list {
  text-align: left;
  position: relative;
  left: 20%;
}

.offer-list h4 {
  font-weight: 400;
}

.btn-primary {
  position: relative;
  margin-top: 10px;
  background-color: var(---text-color);
  color: #fff;
  text-transform: uppercase;
}

.btn-primary:hover {
  transition: 0.5s;
  cursor: pointer;
  opacity: 0.8;
}

.bi-check-lg {
  color: green;
  font-size: 1.4rem;
  position: relative;
  top: 3px;
}
/* Tutors section */
.tutors--section {
  display: grid;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.tutor-know-1 {
  text-transform: uppercase;
  font-size: 3rem;
  color: var(---text-color);
  position: relative;
  top: -30px;
}
 
.tutor-know-2 {
  font-weight: 300;
  font-size: 1.2rem;
}

.tutors {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  position: relative;
  top: 50px;
  gap: 50px;
}

.tutor {
  background-color: var(---text-color);
  padding: 30px;
  border-radius: 30px;
  box-shadow: 5px 5px 45px rgba(0,0,0, 0.23);
  color: #fff;
}

.tutor--img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
}

.tutor--img:hover {
  transition: .8s;
  transform: scale(1.1);
  position: relative;
  cursor: pointer;
}

/* Depoiments section */
.depoiments--section {
  text-align: center;
}

.depoimentos h1 {
  text-transform: uppercase;
  font-size: 3rem;
  color: var(---text-color);
  position: relative;
  top: 150px;
  margin-bottom: 160px;
}

.depoimentos h5 {
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 50px;
}

.swiper-img {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  background-color: var(---text-color);
  padding: 5px;
}


.swipper-style h1 {
  text-transform: uppercase;
  color: var(---text-color);
  margin-bottom: 30px;
}

.swipper-style h5 {
  font-weight: 400;

  width: 50%;
  position: relative;
  left: 25%;
}

.swiper-pagination-bullet {
  visibility: hidden;
}

.bi-quote {
  font-size: 2rem;
  color: var(---text-color);
}
/* Depoiments section */
.contact--section {
}
