.nav-compnent {
    width: 100%;
    height: 120px;
    position: fixed;
    border-bottom: 1px solid #5245a667;
}

.nav--itens {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.log--itens {
    display: flex;
}

.nav--itens h2 {
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 3rem;
    color:  #5245A6;
}
.log--itens {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.link__to {
    text-decoration: none;
    margin-right: 40px;
    color: #5245A6;
    text-transform: uppercase;
    font-weight: 600 ;
}

.link__to:first-child {
    text-decoration: none;
    margin-right: 40px;
    background-color: #5245A6;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}